<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec= "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<nav th:fragment="menu" class="uk-navbar-container" uk-navbar uk-sticky>
    <div class="uk-navbar-center nav-overlay">
        <a th:href="@{/index}" class="uk-navbar-item uk-logo" sec:authorize="isAuthenticated()"><span sec:authentication="name">L</span></a>
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a th:href="@{/temperature}">Temperatura</a></li>
            <li class="uk-parent"><a th:href="@{/growth}">Wzrost</a></li>
            <li class="uk-parent"><a th:href="@{/weight}">Waga</a></li>
            <li class="uk-parent"><a th:href="@{/pressure}">Cisnienie</a></li>
            <li class="uk-parent"><a th:href="@{/pulse}">Tętno</a></li>
            <li class="uk-parent"><a th:href="@{/bow}">Leki</a></li>
            <li class="uk-parent"><a th:href="@{/habits}">Nawyki</a></li>
            <li>
                <a href="#">Opcje</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li sec:authorize="hasAnyAuthority('MANAGER','ADMIN')"><a th:href="@{/options/optionsinfo}">Info</a></li>
                        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/options/optionsprofiles}">profil</a></li>
                        <li><a th:href="@{/options/optionsbow}">Leki</a></li>
                    </ul>
                </div>
            </li>
            <li class="uk-parent"><a th:href="@{/info}">Info</a></li>
        </ul>
         <span class="uk-navbar-item" style="margin-left: 100px" sec:authorize="hasAnyAuthority('ADMIN')">Administrator</span>
         <span class="uk-navbar-item" style="margin-left: 100px" sec:authorize="hasAnyAuthority('MANAGER')">Moderator</span>
         <span class="uk-navbar-item" style="margin-left: 100px" sec:authorize="hasAnyAuthority('USER')">Użytkownik</span>
         <span class="uk-navbar-item" style="margin-left: 100px" sec:authorize="hasAnyAuthority('GOSC')">Gość</span>
        <span class="uk-navbar-item" th:text="${#calendars.format(#calendars.createNow(), 'dd MMMM yyyy')}"></span>
        <a th:href="@{/}" uk-icon="icon:  sign-out; ratio: 1.1" uk-tooltip="Wyloguj"></a>

    </div>
</nav>

</body>
</html>
