<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:fragment="szablon(content)">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<head>
    <meta charset="UTF-8">
    <title th:text="#{tytyl}">Dzienniczek_Zdrowia</title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}" href="../static/ikona.ico"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
</head>

<body>

<!--<div th:replace="~{fragments/naglowek :: naglowek}"></div>-->

<div th:replace="~{fragments/menu :: menu2}"></div>

<div th:insert="${content}" class="uk-container uk-margin-large-top"></div>

<div th:replace="~{fragments/stopka :: stopka}"></div>



<!--<section th:replace="~{fragments/naglowek :: naglowek}"></section>-->

<!--<section th:replace="~{fragments/menu :: menu}"></section>-->

<!--<section layout:fragment="centent"></section>-->

<!--<section th:replace="~{fragments/stopka :: stopka}"></section>-->

</body>
</html>
