<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/background.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{options.title.bow.details}" style="position:center;"></h2>
    </div>

    <form style="width:300px; margin: auto" th:object="${bowtypedetails}" th:action="@{/options/bowtype/save}" method="post">
        <div class="uk-margin">
            <label>Rodzaj leku: </label>
            <td th:text="${bowtypedetails.bowtypes}"></td>
        </div>

        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/options/optionsbow}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>

    </form>

    <div class="uk-padding"></div>

</div>

</body>
</html>
