<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{cisnienie.tytul}" style="position:center;"></h2>
            </div>

            <span uk-icon="icon: info" uk-tooltip="Info"></span>
            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000" >
                <div class="uk-card uk-card-body uk-card-default" >
                    <p>Pomiary ciśnienia najlepiej wykonywać o stałej porze dnia, gdyż ciśnienie w ciągu doby ulega zmianom.</p>
                    <p>Badanie powinno odbywać się w warunkach spoczynkowych.</p>
                    <p>Kategoria - Ciśnienie skurczowe / Ciśnienie rozkurczowe:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Ciśnienie optymalne: < 120 mm Hg / < 80 Hg,</li>
                        <li>Ciśnienie prawidłowe: 120 - 129 mm Hg / 80 - 84 mm Hg,</li>
                        <li>Ciśnienie wysokie prawidłowe: 130 - 139 mm Hg / 85 - 89 mm Hg,</li>
                        <li>Nadciśnienie tętnicze 1. stopnia: 140 - 159 mm Hg / 90 - 99 mm Hg</li>
                        <li>Nadciśnienie tętnicze 2. stopnia: 160 - 179 mm Hg / 100 - 109 mm Hg</li>
                        <li>Nadciśnienie tętnicze 3. stopnia: ≥ 180 mm Hg / ≥ 110 mm Hg.</li>
                    </ul>
                </div>
            </div>

            <!--        <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
            <!--        <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">      <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>-->
            <!--            <p>Pomiary ciśnienia najlepiej wykonywać o stałej porze dnia, gdyż ciśnienie w ciągu doby ulega zmianom.</p>-->
            <!--            <p>Badanie powinno odbywać się w warunkach spoczynkowych.</p>-->
            <!--    <p>Kategoria - Ciśnienie skurczowe / Ciśnienie rozkurczowe:</p>-->
            <!--            <ul class="uk-list uk-list-bullet">-->
            <!--                <li>Ciśnienie optymalne: < 120 mm Hg / < 80 Hg,</li>-->
            <!--                <li>Ciśnienie prawidłowe: 120 - 129 mm Hg / 80 - 84 mm Hg,</li>-->
            <!--                <li>Ciśnienie wysokie prawidłowe: 130 - 139 mm Hg / 85 - 89 mm Hg,</li>-->
            <!--                <li>Nadciśnienie tętnicze 1. stopnia: 140 - 159 mm Hg / 90 - 99 mm Hg</li>-->
            <!--                <li>Nadciśnienie tętnicze 2. stopnia: 160 - 179 mm Hg / 100 - 109 mm Hg</li>-->
            <!--                <li>Nadciśnienie tętnicze 3. stopnia: ≥ 180 mm Hg / ≥ 110 mm Hg.</li>-->
            <!--            </ul>-->
            <!--        </div>-->

            <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <!--            <button class="uk-modal-close-default" type="button" uk-close></button>-->
                    <p>Pomiary ciśnienia najlepiej wykonywać o stałej porze dnia, gdyż ciśnienie w ciągu doby ulega zmianom.</p>
                    <p>Badanie powinno odbywać się w warunkach spoczynkowych.</p>
                   <p>Kategoria - Ciśnienie skurczowe / Ciśnienie rozkurczowe:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Ciśnienie optymalne: < 120 mm Hg / < 80 Hg,</li>
                        <li>Ciśnienie prawidłowe: 120 - 129 mm Hg / 80 - 84 mm Hg,</li>
                        <li>Ciśnienie wysokie prawidłowe: 130 - 139 mm Hg / 85 - 89 mm Hg,</li>
                        <li>Nadciśnienie tętnicze 1. stopnia: 140 - 159 mm Hg / 90 - 99 mm Hg</li>
                        <li>Nadciśnienie tętnicze 2. stopnia: 160 - 179 mm Hg / 100 - 109 mm Hg</li>
                        <li>Nadciśnienie tętnicze 3. stopnia: ≥ 180 mm Hg / ≥ 110 mm Hg.</li>
                    </ul>
                </div>
            </div>

            <div class="uk-section">
                <div class="uk-container uk-container-xsmall">
                    <div style="max-width: 800px; margin: 50px auto">
                        <canvas id="line-chart" width="1600" height="900"></canvas>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

                    <script th:inline="javascript">
                        new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: [[${etykieta}]],
                                datasets: [{
                                    data: [[${dane}]],
                                    label: "Ciśnienie",
                                    borderColor: "#3e95cd",
                                    fill: false
                                },
                                ]
                            },
                            options: {
                                // scales:{
                                //     yAxes: "Cisnienie",
                                //     xAxes: "data",
                                // }
                            }
                        });

                    </script>
                </div>
            </div>

            <a th:href="@{/cisnienie/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
            <a th:href="@{/cisnienie/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th>Id</th>
<!--                    <th>Id <a sd:pagination-sort="id" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <!--            <th th:colspan="2"></th>-->
                    <th>Wybór</th>
<!--                    <th>Wybór <a sd:pagination-sort="wybor" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Ciśnienie Skurczowe</th>
<!--                    <th>Ciśnienie Skurczowe <a sd:pagination-sort="skurcz" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Ciśnienie Rozkurczowe</th>
<!--                    <th>Ciśnienie Rozkurczowe <a sd:pagination-sort="rozkurcz" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Tętno</th>
<!--                    <th>Tętno <a sd:pagination-sort="tetno" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Data</th>
<!--                    <th>Data <a sd:pagination-sort="data" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Rodzaj</th>
<!--                    <th>Rodzaj <a sd:pagination-sort="rodzaj" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Uwagi</th>
<!--                    <th>Uwagi <a sd:pagination-sort="uwagi" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${lista}">
                    <td th:text="${element.id}"></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <td th:text="${element.skurcz}"></td>
                    <td th:text="${element.rozkurcz}"></td>
                    <td th:text="${element.tetno}"></td>
                    <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
                    <!--            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
                    <!--            <td th:text="${element.data}"></td>-->
                    <td><span th:uk-icon="${element.rodzaj} ? 'heart' : 'ban'"></span></td>
                    <td th:text="${element.uwagi}"></td>
                    <td>
                        <a th:href="@{/cisnienie/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <a th:href="@{/cisnienie/szczegoly/{id} (id=${element.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/cisnienie/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </tr>
                </tbody>
            </table>

<!--            <div class="col-sm-6">-->
<!--                <div sd:pagination-summary="">info</div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <nav class="pull-right">-->
<!--                    <ul class="uk-pagination uk-flex-center" sd:pagination="full">-->
<!--                        <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
<!--                        <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->

            <div class="uk-padding"></div>

    </div>

</body>
</html>
