<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{cisnienie.tytul.dodaj}" style="position:center;"></h2>

    <form style="width:300px; margin: auto" th:object="${cisnieniedodaj}" th:action="@{/cisnienie/zapisz}" method="post">
        <div class="uk-margin">
            <label>Cisnienie Skurczowe</label>
            <input th:field="*{skurcz}" type="number"  class="uk-input" step="1" min="50" max="200" >
        </div>
        <div class="uk-margin">
            <label>Cisnienie Rozkurczowe</label>
            <input th:field="*{rozkurcz}" type="number"  class="uk-input" step="1" min="50" max="150" >
        </div>
        <div class="uk-margin">
            <label>Tętno</label>
            <input th:field="*{tetno}" type="number"  class="uk-input" step="1" min="50" max="150" >
        </div>
        <div class="uk-margin">
            <label>Data</label>
            <Input th:field="*{data}" type="date" class="uk-input">
        </div>
<!--        <div class="uk-margin">-->
<!--            <label>Rodzaj</label>-->
<!--            <input th:field="*{rodzaj}" type="checkbox" class="uk-checkbox">-->
<!--        </div>-->

        <div class="uk-margin">
            <div class="uk-form-label">Rodzaj</div>
            <div class="uk-form-controls uk-form-controls-text" >
                <label><input class="uk-radio" type="radio" name="true" th:value="true" th:field="*{rodzaj}"> Ciśnienie prawidłowa</label><br>
                <label><input class="uk-radio" type="radio" name="false" th:value="false" th:field="*{rodzaj}"> Ciśnienie nieprawidłowa</label>
            </div>
        </div>

        <div class="uk-margin">
            <label>Uwagi</label>
            <textarea th:field="*{uwagi}" type="textarea" class="uk-input"></textarea>
        </div>
        <input th:field="*{id}" type="number" hidden>

<!--        <a th:href="@{/cisnienie}" class="uk-icon-link uk-margin-small-right" uk-icon="close"></a>-->
<!--        <a th:href="@{/cisnienie/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash"></a>-->
<!--        <a th:href="@{/cisnienie/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit"></a>-->
        <a th:href="@{/cisnienie}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>



</div>

</body>
</html>
