<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/background.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{habits.title}" style="position:center;"></h2>
            </div>

            <span uk-icon="icon: info" uk-tooltip="Info"></span>
            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000" >
                <div class="uk-card uk-card-body uk-card-default" >
                    <p> Nawyk w terminologii psychologii zautomatyzowana czynność, którą nabywa się w wyniku ćwiczenia.</p>
                    <p>Codziennie podejmujemy setki mniejszych i większych decyzji. Każda z nich jest dla naszego mózgu niemałym energetycznym wyzwaniem
                        i dlatego nasze mózgi ciągle szukają sposobów optymalizacji wydatkowanej energii.</p>
                    <p>To właśnie dlatego wytwarzamy habits – pomagają one zautomatyzować pewne powtarzalne czynności i oszczędzić cenne zasoby.</p>
                    <p>Oczywiście mamy habits dobre i złe.</p>
                    <p>Za każdym razem, gdy nasz mózg dojrzy pewien „wyzwalacz”, uruchamia zaprogramowaną procedurę, by otrzymać nagrodę.</p>
                    <p>W ten sposób możemy nauczyć się dobrych nawiów, a wyliminować złe.</p>
                </div>
            </div>

            <div class="uk-padding"></div>

            <a th:href="@{/habits/add}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
            <a th:href="@{/habits/clear}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th>Id <a sd:pagination-sort="id" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Nazwa <a sd:pagination-sort="nazwa" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Data startu <a sd:pagination-sort="data1" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Data Końca <a sd:pagination-sort="data2" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Powtórzenia <a sd:pagination-sort="powtorzenia" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Realizacja <a sd:pagination-sort="realizacja" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Uwagi <a sd:pagination-sort="uwagi" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>
                    <th>Opcje</th>
                </tr>
                <tbody>
                <tr th:each="elements : ${lists}">
                    <td th:text="${elements.id}"></td>
                    <td th:text="${elements.name}"></td>
                    <td th:text="${#calendars.format(elements.date1, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#calendars.format(elements.date2, 'dd-MM-yyyy')}"></td>
                    <td th:text="${elements.repeat}"></td>
                    <td><span th:uk-icon="${elements.implementation} ? 'heart' : 'ban'"></span></td>
                    <td th:text="${elements.description}"></td>
                    <td>
                        <a th:href="@{/habits/edit/{id} (id=${elements.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <a th:href="@{/habits/details/{id} (id=${elements.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/habits/delete/{id} (id=${(elements.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>

            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="uk-pagination uk-flex-center" sd:pagination="full">
                        <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>
                    </ul>
                </nav>
            </div>

            <div class="uk-padding"></div>

    </div>

</body>
</html>
