<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/background.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{habits.title.details}" style="position:center;"></h2>
    </div>

    <form style="width:300px; margin: auto" th:object="${habitsdetails}" th:action="@{habits/save}" method="post">
        <div class="uk-margin">
            <label>Nazwa: </label>
            <td th:text="${habitsdetails.name}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Data startu: </label>
            <td th:text="${#calendars.format(habitsdetails.date1, 'dd-MM-yyyy')}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Data data końca: </label>
            <td th:text="${#calendars.format(habitsdetails.date2, 'dd-MM-yyyy')}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Powtórzenia: </label>
            <td th:text="${habitsdetails.repeat}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Realizacja: </label>
            <td> <span th:uk-icon="${habitsdetails.implementation} ? 'heart' : 'ban'"></span></td>
        </div>

        <div class="uk-margin">
            <label>Uwagi: </label>
            <td th:text="${habitsdetails.description}"></td>
        </div>

        <input th:field="*{id}" type="number" hidden>
        
        <a th:href="@{/habits}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>
        
    </form>

    <div class="uk-padding"></div>

</div>

</body>
</html>
