<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">

<body>

<div class="container" th:each="element : ${lista} ">

<!--    <h2 class="uk-heading-divider" th:text="#{index.tytyl}" style="position:center;"></h2>-->
    <h2  class="uk-heading-divider" th:text="#{index.tytyl} + ${element.urzytkownik}" style="position:center;"></h2>

    Przejmij kontrolę nad organizmem i zacznij decydować o swoim zdrowiu!

    Dobre zdrowie to nie tylko geny. Decydują o nim także styl życia, umiejętność rozładowywania stresu, sposób odżywiania, a nawet relacje z innymi. To doskonała wiadomość: stan naszego organizmu zależy w dużej mierze od nas samych.
    "Twój dziennik zdrowia" to potężna dawka motywacji, by już dziś zwrócić uwagę na swoje samopoczucie.

    Głównym zadaniem programu jest pomoc w utrzymaniu lub poprawieniu stanu Twojego zdrowia, poprzez monitorowanie pewnego zakresu parametrów zdrowotnych (profilaktyka CHUK)
    Korzystanie z programu na co dzień pozwoli Ci zapanować nad realizacją najczęstszych zaleceń lekarskich oraz na pełniejsze wykorzystanie wizyty u lekarza.
    Aplikacja umożliwia rejestrowanie następujących parametrów; Temperatury, wzrostu, wagi ciśnienia tętna zażywanych leków. Oraz wyrabiać określonych nawyków.
    Kolejnej odsłonie tej aplikacji powstanie rejestracja; lipidów, glukozy, wypalonych papierosów notatki, Kalorie.

</div>

</body>
</html>
