<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/szablon :: szablon(~{::.container})}"
      xmlns:sec= "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

<!--<div class="container" th:each="element : ${lista} ">-->
<div class="container" sec:authorize="isAuthenticated()">

        <h2 class="uk-heading-divider"  style="position:center">
            <span th:text="#{index.tytyl}">W</span>
            <span sec:authentication="name">L</span>
<!--            <span sec:authentication="principal.authorities">P</span>-->
        </h2>

    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">
        <p>Przejmij kontrolę nad organizmem i zacznij decydować o swoim zdrowiu!</p>

        <p>Dobre zdrowie to nie tylko geny. Decydują o nim także styl życia, umiejętność rozładowywania stresu, sposób
            odżywiania, a nawet relacje z innymi.
            To doskonała wiadomość: stan naszego organizmu zależy w dużej mierze od nas samych.
            "Twój dziennik zdrowia" to potężna dawka motywacji, by już dziś zwrócić uwagę na swoje samopoczucie.
        </p>

        <p> Głównym zadaniem programu jest pomoc w utrzymaniu lub poprawieniu stanu Twojego zdrowia, poprzez
            monitorowanie pewnego zakresu parametrów zdrowotnych (profilaktyka CHUK).
            Korzystanie z programu na co dzień, pozwoli Ci zapanować nad realizacją najczęstszych zaleceń lekarskich oraz
            na pełniejsze wykorzystanie wizyty u lekarza.
        </p>
        <p>Aplikacja umożliwia rejestrowanie następujących parametrów; Temperatury, wzrostu, wagi, ciśnienia, tętna
            zażywanych leków, oraz wyrabiać określonych nawyków.
            Kolejnej odsłonie tej aplikacji powstanie rejestracja; lipidów, glukozy, wypalonych papierosów notatki,
            kalorie.
            Jeżeli cierpisz na chorobę serca, układu sercowo-naczyniowego lub cukrzycę ta aplikacja pomoże ci walczyć z
            twoją chorobą. Osiemdziesiąt procent Polaków nie wie, jakie ma ciśnienie tętnicze krwi. Pozostali uważają, że
            wiedzą, ale niemal 70 proc. z nich popełnia kardynalne błędy podczas pomiaru. Dzięki wpisą i wykresowi szybko je wyłapiesz.
            Wysokie ryzyko wcale nie oznacza, że zachorujesz. Znaczy tylko tyle, że powinieneś bardziej się pilnować.
        </p>
    </div>
<h2>KORZYSTANIE Z PROGRAMU NIE ZASTĘPUJE PORADY LEKARSKIEJ.</h2>
    <div class="uk-padding"></div>
</div>

</body>
</html>
