<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{opcje.tytul.info}" style="position:center;"></h2>

    <form style="width:300px; margin: auto" th:object="${infododaj}" th:action="@{/opcje/info/zapisz}" method="post">
        <div class="uk-margin">
            <label>Data</label>
            <Input th:field="*{data}" type="date" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Wersja</label>
            <input th:field="*{wersja}" type="text"  class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Algorytm</label>
            <input th:field="*{algorytm}" type="text" class="uk-input">
        </div>
        <input th:field="*{id}" type="number" hidden>

<!--        <a th:href="@{/opcje/info}" class="uk-icon-link uk-margin-small-right" uk-icon="close"></a>-->
<!--        <a th:href="@{/opcje/info/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash"></a>-->
<!--        <a th:href="@{/opcje/info/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit"></a>-->
        <a th:href="@{/opcje/opcjeinfo}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>



</div>

</body>
</html>
