<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{info.tytul}" style="position:center;"></h2>
    </div>
    <p class="uk-text-lead">Info:</p>
    <p class="uk-text-muted">Aplikacja "Dzienniczek Zdrowia" powstała jako zaliczenie studiów podyplomowych.</p>
    <p class="uk-text-muted">Na kierunku Java Web Developer w Wyższej Szkole Zarządzania i Bankowiśći w Krakowie.</p>
    <p class="uk-text-muted">Autor Projektu: Grzegorz Jankowicz</p>
    <p class="uk-text-muted">Rok: 2019/2020</p>
<p class="uk-text-lead"> Historia zmian:</p>
<!--    <a th:href="@{/info/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>-->
<!--    <a th:href="@{/info/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>-->
    <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
        <thead>
        <tr>
            <th hidden="hidden">iD</th>
            <!--            <th th:colspan="2"></th>-->
<!--            <th>Wybór</th>-->
            <th>Data</th>
            <th>Wersja</th>
            <th>Algorytm</th>
<!--            <th>Opcje</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
        <td th:text="${element.id}" hidden="hidden"></td>
<!--            <td><input class="uk-checkbox" type="checkbox"></td>-->
        <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
            <!--            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
        <!--            <td th:text="${element.data}"></td>-->
        <td th:text="${element.wersja}"></td>
        <td th:text="${element.algorytm}"></td>
<!--        <td>-->
<!--            <a th:href="@{/info/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>-->
<!--            <a th:href="@{/info/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>-->
<!--        </td>-->
        </tr>
        </tbody>
    </table>
    <div class="uk-padding"></div>
</div>

</body>
</html>
