<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="background.JPG" width="60" height="28" alt="info">
            <h2 class="uk-heading-divider" th:text="#{info.title}" style="position:center;"></h2>
            </div>

            <p class="uk-text-lead">Info:</p>
            <p class="uk-text-muted">Aplikacja "Dzienniczek Zdrowia" powstała jako zaliczenie studiów podyplomowych.</p>
            <p class="uk-text-muted">Na kierunku Java Web Developer w Wyższej Szkole Zarządzania i Bankowiśći w Krakowie.</p>
            <p class="uk-text-muted">Autor Projektu: Grzegorz Jankowicz</p>
            <p class="uk-text-muted">Rok: 2019/2020</p>
            <p class="uk-text-lead"> Historia zmian:</p>

            <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th hidden="hidden">Id</th>
                    <th>Data</th>
                    <th>Wersja</th>
                    <th>Algorytm</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="elements : ${lists}">
                    <td th:text="${elements.id}" hidden="hidden"></td>
                    <td th:text="${#calendars.format(elements.date, 'dd-MM-yyyy')}"></td>
                    <td th:text="${elements.version}"></td>
                    <td th:text="${elements.algorithm}"></td>
                </tr>
                </tbody>
            </table>

    </div>

</body>
</html>
