<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/background.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{options.title.info.add}" style="position:center;"></h2>
    </div>

    <form style="width:300px; margin: auto" th:object="${infoadd}" th:action="@{/options/info/save}" method="post">
        <div class="uk-margin">
            <label>Data</label>
            <Input th:field="*{date}" type="date" class="uk-input" required="required">
        </div>

        <div class="uk-margin">
            <label>Wersja</label>
            <input th:field="*{version}" type="text"  class="uk-input" required="required">
        </div>

        <div class="uk-margin">
            <label>Algorytm</label>
            <input th:field="*{algorithm}" type="text" class="uk-input" required="required">
        </div>

        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/options/optionsinfo}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>

    <div class="uk-padding"></div>

</div>

</body>
</html>
