<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{opcje.tytul.info.szczegoly}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${infoszczegoly}" th:action="@{/opcje/info/zapisz}" method="post">
        <div class="uk-margin">
            <label>Data: </label>
            <td th:text="${#calendars.format(infoszczegoly.data, 'dd-MM-yyyy')}"></td>
        </div>
        <div class="uk-margin">
            <label>Wersja: </label>
            <td th:text="${infoszczegoly.wersja}"></td>
        </div>
        <div class="uk-margin">
            <label>Algorytm: </label>
            <td th:text="${infoszczegoly.algorytm}"></td>
        </div>

        <div class="uk-margin">
            <label>Urzytkownik ID: </label>
            <td th:text="${infoszczegoly.urzytkownik_id}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Urzytkownik prawa: </label>
            <td th:text="${infoszczegoly.urzytkownik_prawa}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Zaznaczanie: </label>
            <td> <span th:uk-icon="${infoszczegoly.dane_opcje} ? 'check' : 'close'"></span></td>
        </div>
        
        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/opcje/opcjeinfo}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>
        
    </form>

    <div class="uk-padding"></div>
</div>

</body>
</html>
