<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{leki.tytul}" style="position:center;"></h2>
            </div>

            <span uk-icon="icon: info" uk-tooltip="Info"></span>
            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000" >
                <div class="uk-card uk-card-body uk-card-default" >
                   <P> Przed użyciem zapoznaj się z treścią ulotki dołączonej do opakowania bądź skonsultuj się z lekarzem lub farmaceutą.</p>
                    <p> Gdyż każdy lek niewłaściwie stosowany zagraża Twojemu życiu lub zdrowiu</P>
                    </ul>
                </div>
            </div>

            <!--        <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
            <!--        <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">      <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>-->
            <!--            <P> Przed użyciem zapoznaj się z treścią ulotki dołączonej do opakowania bądź skonsultuj się z lekarzem lub farmaceutą.</p>-->
            <!--            <p> Gdyż każdy lek niewłaściwie stosowany zagraża Twojemu życiu lub zdrowiu</P>-->
            <!--        </div>-->

            <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <!--            <button class="uk-modal-close-default" type="button" uk-close></button>-->
                    <P> Przed użyciem zapoznaj się z treścią ulotki dołączonej do opakowania bądź skonsultuj się z lekarzem lub farmaceutą.</p>
                    <p> Gdyż każdy lek niewłaściwie stosowany zagraża Twojemu życiu lub zdrowiu</P>
                </div>
            </div>
            <div class="uk-padding"></div>

            <a th:href="@{/leki/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
            <a th:href="@{/leki/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th>Id</th>
<!--                    <th>Id <a sd:pagination-sort="id" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <!--            <th th:colspan="2"></th>-->
                    <th>Wybór</th>
<!--                    <th>Wybór <a sd:pagination-sort="wybor" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Lek</th>
<!--                    <th>Lek <a sd:pagination-sort="lek" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Data</th>
<!--                    <th>Data <a sd:pagination-sort="data" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Dawka</th>
<!--                    <th>Dawka <a sd:pagination-sort="dawka" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Rodzaj</th>
<!--                    <th>Rodzaj <a sd:pagination-sort="rodzaj" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Uwagi</th>
<!--                    <th>Uwagi <a sd:pagination-sort="uwagi" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${lista}">
                    <td th:text="${element.id}"></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <td th:text="${element.lek}"></td>
                    <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
                    <!--            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
                    <!--            <td th:text="${element.data}"></td>-->
                    <td th:text="${element.dawka}"></td>
                    <td th:text="${element.rodzaj}"></td>
                    <td th:text="${element.uwagi}"></td>
                    <td>
                        <a th:href="@{/leki/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <a th:href="@{/leki/szczegoly/{id} (id=${element.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/leki/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                    </tr>
                </tbody>
            </table>

<!--            <div class="col-sm-6">-->
<!--                <div sd:pagination-summary="">info</div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <nav class="pull-right">-->
<!--                    <ul class="uk-pagination uk-flex-center" sd:pagination="full">-->
<!--                        <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
<!--                        <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->

            <div class="uk-padding"></div>

    </div>

</body>
</html>
