<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
        <h2 class="uk-heading-divider" th:text="#{leki.tytul.szczegoly}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${lekiszczegoly}" th:action="@{/leki/zapisz}" method="post">
        <div class="uk-margin">
            <label>Leki: </label>
            <td th:text="${lekiszczegoly.lek}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Data: </label>
            <td th:text="${#calendars.format(lekiszczegoly.data, 'dd-MM-yyyy')}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Dawka: </label>
            <td th:text="${lekiszczegoly.data}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Rodzaj: </label>
            <td th:text="${lekiszczegoly.rodzaj}"></td>
        </div>

        <div class="uk-margin">
            <label>Uwagi: </label>
            <td th:text="${lekiszczegoly.uwagi}"></td>
        </div>

        <div class="uk-margin">
            <label>Urzytkownik ID: </label>
            <td th:text="${lekiszczegoly.urzytkownik_id}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Urzytkownik prawa: </label>
            <td th:text="${lekiszczegoly.urzytkownik_prawa}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Zaznaczanie: </label>
            <td> <span th:uk-icon="${lekiszczegoly.dane_opcje} ? 'check' : 'close'"></span></td>
        </div>
        
        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/leki}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>


    </form>
    <div class="uk-padding"></div>
</div>

</body>
</html>
