<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{nawyki.tytul}" style="position:center;"></h2>

    <a th:href="@{/nawyki/wstaw}" uk-icon="icon: copy" th:title="Dodaj"></a>
    <a th:href="@{/nawyki/czysc}" uk-icon="icon: trash" th:title="Wyczyść"></a>
    <table class="uk-table uk-table-stripped uk-table-hover uk-table-small">
        <thead>
        <tr>
            <th>Id</th>
            <!--            <th th:colspan="2"></th>-->
            <th>Wybór</th>
            <th>Nazwa</th>
            <th>Data startu</th>
            <th>Data Końca</th>
            <th>Powtórzenia</th>
            <th>Realizacja</th>
            <th>Uwagi</th>
            <th>Opcje</th>
        </tr>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td th:text="${element.nazwa}"></td>
            <td th:text="${#calendars.format(element.data1, 'dd-MM-yyyy')}"></td>
            <!--            <td th:text="${element.data1}"></td>-->
            <!--            <td th:text="${#calendars.format(element.data1, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
            <!--            <td th:text="${element.data2}"></td>-->
            <!--            <td th:text="${#calendars.format(element.data2, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
            <td th:text="${#calendars.format(element.data2, 'dd-MM-yyyy')}"></td>
            <td th:text="${element.powtorzenia}"></td>
            <td><span th:uk-icon="${element.realizacja} ? 'heart' : 'ban'"></span></td>
            <td th:text="${element.uwagi}"></td>
            <td>
                <a th:href="@{/nawyki/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" th:title="Edytuj"></a>
                <a th:href="@{/nawyki/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" th:title="Usuń"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
