<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{opcje.tytul.leki}" style="position:center;"></h2>
    </div>
    <a th:href="@{/opcje/rodzajleku/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
    <a th:href="@{/opcje/rodzajleku/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
    <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
        <thead>
        <tr>
            <th>iD</th>
            <!--            <th th:colspan="2"></th>-->
            <th>Wybór</th>
            <th>Rodzaj Leku</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td th:text="${element.rodzajleku}"></td>
            <td>
                <a th:href="@{/opcje/rodzajleku/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                <a th:href="@{/opcje/rodzajleku/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="uk-padding"></div>
</div>

</body>
</html>
