<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{opcje.tytul}" style="position:center;"></h2>

    <h5  th:text="#{opcje.tytul.info}" style="position:center;"></h5>
    <a th:href="@{opcje/info/wstaw}" uk-icon="icon: copy"></a>
    <a th:href="@{opcje/info/czysc}" uk-icon="icon: trash"></a>
    <table class="uk-table uk-table-stripped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Wersja</th>
            <th>Algorytm</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element1 : ${lista1}">
            <td th:text="${element1.id}"></td>
            <td th:text="${#calendars.format(element1.data, 'dd-MM-yyyy')}"></td>
            <!--            <td th:text="${element.data}"></td>-->
            <td th:text="${element1.wersja}"></td>
            <td th:text="${element1.algorytm}"></td>
            <td>
                <a th:href="@{opcje/info/edytuj/{id} (id=${element1.id})}" uk-icon="icon: credit-card"></a>
                <a th:href="@{opcje/info/usun/{id} (id=${(element1.id)})}" uk-icon="icon: trash"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <h5  th:text="#{opcje.tytul.profil}" style="position:center;"></h5>
    <a th:href="@{/opcje/profil/wstaw}" uk-icon="icon: copy"></a>
    <a th:href="@{/opcje/profil/czysc}" uk-icon="icon: trash"></a>
    <table class="uk-table uk-table-stripped">
        <thead>
        <tr>
            <th>iD</th>
            <th>Urzytkownik</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Data urodz.</th>
            <th>Jednostka wagi</th>
            <th>Jednostka długości</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element2 : ${lista2}">
            <td th:text="${element2.id}"></td>
            <td th:text="${element2.urzytkownik}"></td>
            <td th:text="${element2.imie}"></td>
            <td th:text="${element2.nazwisko}"></td>
            <td th:text="${element2.plec}"></td>
            <td th:text="${#calendars.format(element2.data, 'dd-MM-yyyy')}"></td>
            <td th:text="${element2.waga}"></td>
            <td th:text="${element2.miara}"></td>
            <td>
                <a th:href="@{/opcje/profil/edytuj/{id} (id=${element2.id})}" uk-icon="icon: credit-card"></a>
                <a th:href="@{/opcje/profil/usun/{id} (id=${(element2.id)})}" uk-icon="icon: trash"></a>
            </td>
            </tr>
        </tbody>
    </table>


    <h5  th:text="#{opcje.tytul.leki}" style="position:center;"></h5>
    <a th:href="@{/opcje/rodzajleku/wstaw}" uk-icon="icon: copy"></a>
    <a th:href="@{/opcje/rodzajleku/czysc}" uk-icon="icon: trash"></a>
    <table class="uk-table uk-table-stripped">
        <thead>
        <tr>
            <th>iD</th>
            <th>Rodzaj Leku</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element3 : ${lista3}">
            <td th:text="${element3.id}"></td>
            <td th:text="${element3.rodzajleku}"></td>
            <td>
                <a th:href="@{/opcje/rodzajleku/edytuj/{id} (id=${element3.id})}" uk-icon="icon: file-edit"></a>
                <a th:href="@{/opcje/rodzajleku/usun/{id} (id=${(element3.id)})}" uk-icon="icon: trash"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
