<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/background.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{pressure.title}" style="position:center;"></h2>
            </div>

            <span uk-icon="icon: info" uk-tooltip="Info"></span>
            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000" >
                <div class="uk-card uk-card-body uk-card-default" >
                    <p>Pomiary ciśnienia najlepiej wykonywać o stałej porze dnia, gdyż ciśnienie w ciągu doby ulega zmianom.</p>
                    <p>Badanie powinno odbywać się w warunkach spoczynkowych.</p>
                    <p>Kategoria - Ciśnienie skurczowe / Ciśnienie rozkurczowe:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Ciśnienie optymalne: < 120 mm Hg / < 80 Hg,</li>
                        <li>Ciśnienie prawidłowe: 120 - 129 mm Hg / 80 - 84 mm Hg,</li>
                        <li>Ciśnienie wysokie prawidłowe: 130 - 139 mm Hg / 85 - 89 mm Hg,</li>
                        <li>Nadciśnienie tętnicze 1. stopnia: 140 - 159 mm Hg / 90 - 99 mm Hg</li>
                        <li>Nadciśnienie tętnicze 2. stopnia: 160 - 179 mm Hg / 100 - 109 mm Hg</li>
                        <li>Nadciśnienie tętnicze 3. stopnia: ≥ 180 mm Hg / ≥ 110 mm Hg.</li>
                    </ul>
                </div>
            </div>

            <div class="uk-section">
                    <canvas id="line-chart" width="2800" height="900"></canvas>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                    <script th:inline="javascript">
                        new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: [[${label}]],
                                datasets: [{
                                    data: [[${information1}]],
                                    label: "Ciśnienie skurczowe",
                                    borderColor: "#3e95cd",
                                    fill: false
                                },

                                {
                                data: [[${information2}]],
                                label: "Ciśnienie rozkurczowe",
                                borderColor: "#3cba9f",
                                fill: false
                                },

                                {
                                data: [[${information3}]],
                                label: "Tętno",
                                borderColor: "#c45850",
                                fill: false
                                }
                             ]
                            },

                            options: {
                                responsive: true,
                                scales:{
                                    xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Data'}
                                    }],
                                    yAxes: [{
                                        display: true,
                                        stacked: false,
                                        ticks: {
                                            min: 40,
                                            steps: 10,
                                            stepValue: 5,
                                            max: 220},
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Cićnienie / Tętno'}
                                    }]

                                }
                            }
                        });

                    </script>
            </div>

            <a th:href="@{/pressure/add}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
            <a th:href="@{/pressure/clear}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-stripped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ciśnienie Skurczowe</th>
                    <th>Ciśnienie Rozkurczowe</th>
                    <th>Tętno</th>
                    <th>Data</th>
                    <th>Rodzaj</th>
                    <th>Uwagi</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="elements : ${lists}">
                    <td th:text="${elements.id}"></td>
                    <td th:text="${elements.shrink}"></td>
                    <td th:text="${elements.diastole}"></td>
                    <td th:text="${elements.pulses}"></td>
                    <td th:text="${#calendars.format(elements.date, 'dd-MM-yyyy')}"></td>
                    <td><span th:uk-icon="${elements.type} ? 'heart' : 'ban'"></span></td>
                    <td th:text="${elements.description}"></td>
                    <td>
                        <a th:href="@{/pressure/edit/{id} (id=${elements.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <a th:href="@{/pressure/details/{id} (id=${elements.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/pressure/delete/{id} (id=${(elements.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="uk-padding"></div>

    </div>

</body>
</html>
