<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
        <h2 class="uk-heading-divider" th:text="#{opcje.tytul.profil.admin}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${profildodaj}" th:action="@{/opcje/profil/zapisz}" method="post">
        <div class="uk-margin">
            <label>uzytkownik: </label>
            <td th:text="${profildodaj.uzytkownik}">...Brak danych...</td>
            <input th:field="*{uzytkownik}" type="text"  class="uk-input" hidden>
        </div>
        <div class="uk-margin">
            <label>Imię: </label>
            <td th:text="${profildodaj.imie}">...Brak danych...</td>
            <input th:field="*{imie}" type="text" class="uk-input" hidden>
        </div>
        <div class="uk-margin">
            <label>Nazwisko: </label>
            <td th:text="${profildodaj.nazwisko}">...Brak danych...</td>
            <input th:field="*{nazwisko}" type="text" class="uk-input" hidden>
        </div>
        <div class="uk-margin" hidden>
            <label >Email</label>
            <input th:field="*{email}" type="email" class="uk-input">
        </div>
        <div class="uk-margin" hidden>
            <label>Hasło</label>
            <input th:field="*{haslo}" type="text" class="uk-input">
        </div>

        <!--        <div class="uk-margin">-->
        <!--            <label>Płeć </label><span uk-icon="icon: info" uk-tooltip="''k'-kobeta, 'm'-mężczyzna"></span>-->
        <!--            <input th:field="*{plec}" type="text" class="uk-input" required="required">-->
        <!--        </div>-->


        <div class="uk-button uk-form-controls uk-margin" hidden>
            <label>Płeć</label>
            <select th:field="*{plec}" type="text" class="uk-input">
                <option value=""> -- </option>
                <option th:value="'Kobieta'">Kobieta</option>
                <option th:value="'Mężczyzna'">Mężczyzna</option>
                <option th:value="'Dziecko'">Dziecko</option>
            </select>
        </div>

        <div class="uk-margin" hidden>
            <label>Data urodzenia</label>
            <Input th:field="*{data}" type="date" class="uk-input">
        </div>

        <!--        <div class="uk-margin">-->
        <!--            <label>Jednostka wagi </label><span uk-icon="icon: info" uk-tooltip="'dkg', 'kg'"></span>-->
        <!--            <input th:field="*{waga}" type="text" class="uk-input" required="required">-->
        <!--        </div>-->

        <div class="uk-button uk-form-controls uk-margin" hidden>
            <label>Jednostka wagi</label>
            <select th:field="*{waga}" type="text" class="uk-input">
                <option value=""> -- </option>
                <option th:value="'dkg'">dkg</option>
                <option th:value="'Kg'">Kg</option>
            </select>
        </div>

        <!--        <div class="uk-margin">-->
        <!--            <label>Jednostka długości </label><span uk-icon="icon: info" uk-tooltip="'cm', 'm'"></span>-->
        <!--            <input th:field="*{miara}" type="text" class="uk-input" required="required">-->
        <!--        </div>-->

        <div class="uk-button uk-form-controls uk-margin" hidden>
            <label>Jednostka długości</label>
            <select th:field="*{miara}" type="text" class="uk-input">
                <option value=""> -- </option>
                <option th:value="'cm'">cm</option>
                <option th:value="'m'">m</option>
            </select>
        </div>

        <!--        <div class="uk-margin">-->
        <!--            <label>Wł/wył uzytkownika</label>-->
        <!--            <input th:field="*{uzytkownik_aktywny}" type="checkbox" class="uk-input" required="required">-->
        <!--        </div>-->
                    <div class="uk-margin">
                        <div class="uk-form-label">Wł/Wył uzytkownika</div>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label><input class="uk-radio" type="radio" name="true" th:value="true" th:field="*{uzytkownik_aktywny}">uzytkownik Wł.</label><br>
                            <label><input class="uk-radio" type="radio" name="false" th:value="false" th:field="*{uzytkownik_aktywny}">uzytkownik wył.</label>
                        </div>
                    </div>

        <!--        <div class="uk-margin">-->
        <!--            <label>uzytkownik prawa </label><span uk-icon="icon: info" uk-tooltip="'r', 'w', 'rw'"></span>-->
        <!--            <input th:field="*{uzytkownik_prawa}" type="text" class="uk-input" required="required">-->
        <!--        </div>-->

                <div class="uk-button uk-form-controls uk-margin">
                    <label>Użytkownik prawa</label>
                    <select th:field="*{uzytkownik_prawa}" type="text" class="uk-input">
                        <option value=""> -- </option>
                        <option th:value="'Odczyt'">Odczyt</option>
                        <option th:value="'Odczyt-Zapis'">Odczyt-Zapis</option>
                        <option th:value="'Odczyt-Edycja-Zapis'">Odczyt-Edycja-Zapis</option>
                        <option th:value="'Admin'">Admin</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label>Użytkownik ID</label>
                    <input th:field="*{uzytkownik_id}" type="number" class="uk-input" step="1" min="1" max="100" required="required">
                </div>

        <!--        <div class="uk-button uk-form-controls uk-margin">-->
        <!--            <label>uzytkownik ID </label><span uk-icon="icon: info" uk-tooltip="Wybor z dostępnych"></span>-->
        <!--            <select th:field="*{uzytkownik_id}" type="text" class="uk-input" required="required">-->
        <!--                <option value=""> &#45;&#45; </option>-->
        <!--                <option th:each="u_id : ${id}"th:value="${u.id}" th:utext="${u.id}"/>-->
        <!--                <option th:value="'999'">999</option>-->
        <!--            </select>-->
        <!--        </div>-->

        <!--        <div class="uk-margin">-->
        <!--            <label>uzytkownik - Data utworzenia </label>-->
        <!--            <input th:field="*{uzytkownik_data_tw}" type="date" class="uk-input">-->
        <!--        </div>-->
        <!--        <div class="uk-margin">-->
        <!--            <label>uzytkownik - Data edycji</label>-->
        <!--            <input th:field="*{uzytkownik_data_up}" type="date" class="uk-input">-->
        <!--        </div>-->
        <!--        <div class="uk-margin">-->
        <!--            <label>uzytkownik - Data skasowania</label>-->
        <!--            <input th:field="*{uzytkownik_data_ucl}" type="date" class="uk-input">-->
        <!--        </div>-->

        <div class="uk-margin">
            <label>Użytkownik Uwagi</label>
            <textarea th:field="*{uzytkownik_uwagi}" class="uk-textarea" rows="4"></textarea>
        </div>

        <input th:field="*{id}" type="number" hidden>

        <!--        <a th:href="@{opcje/profil}" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Anuluj"></a>-->
        <!--        <a th:href="@{opcje/profil/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash" uk-tooltip="Wyczyść"></a>-->
        <!--        <a th:href="@{opcje/profil/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit" uk-tooltip="Zapisz"></a>-->
        <a th:href="@{/opcje/opcjeprofil}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>


    <div class="uk-padding"></div>
</div>

</body>
</html>
