<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{opcje.tytul.profil}" style="position:center;"></h2>

    <form style="width:300px; margin: auto" th:object="${profildodaj}" th:action="@{/opcje/profil/zapisz}" method="post">
        <div class="uk-margin">
            <label>Urzytkownik</label>
            <input th:field="*{urzytkownik}" type="text"  class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Imię</label>
            <input th:field="*{imie}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Nazwisko</label>
            <input th:field="*{nazwisko}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Płeć</label>
            <input th:field="*{plec}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Data urodz.</label>
            <Input th:field="*{data}" type="date" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Jednostka wagi</label>
            <input th:field="*{waga}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Jednostka długości</label>
            <input th:field="*{miara}" type="text" class="uk-input" required="required">
        </div>
        <input th:field="*{id}" type="number" hidden>

<!--        <a th:href="@{opcje/profil}" class="uk-icon-link uk-margin-small-right" uk-icon="close" th:title="Anuluj"></a>-->
<!--        <a th:href="@{opcje/profil/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash" th:title="Wyczyść"></a>-->
<!--        <a th:href="@{opcje/profil/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit" th:title="Zapisz"></a>-->
        <a th:href="@{/opcje/opcjeprofil}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>



</div>

</body>
</html>
