<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
        <h2 class="uk-heading-divider" th:text="#{opcje.tytul.profil.szczegoly}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${profilszczegoly}" th:action="@{/opcje/profil/zapisz}"
          method="post">
        <div class="uk-margin">
            <label>Użytkownik: </label>
            <td th:text="${profilszczegoly.uzytkownik}">...Brak danych...</td>
        </div>
        <div class="uk-margin">
            <label>Imię: </label>
            <td th:text="${profilszczegoly.imie}">...Brak danych...</td>
        </div>
        <div class="uk-margin">
            <label>Nazwisko: </label>
            <td th:text="${profilszczegoly.nazwisko}">...Brak danych...</td>
        </div>
        <div class="uk-margin">
            <label>Email: </label>
            <td th:text="${profilszczegoly.email}">...Brak danych...</td>
        </div>
        <div class="uk-margin">
            <label>Hasło: </label>
            <td th:text="${profilszczegoly.haslo}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Płeć: </label>
            <td th:text="${profilszczegoly.plec}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Data urodzenia: </label>
            <td th:text="${#calendars.format(profilszczegoly.data, 'dd-MM-yyyy')}"></td>
        </div>

        <div class="uk-margin">
            <label>Jednostka wagi: </label>
            <td th:text="${profilszczegoly.waga}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Jednostka długości: </label>
            <td th:text="${profilszczegoly.miara}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Wł/wył Użytkownika: </label>
            <td><span th:uk-icon="${profilszczegoly.uzytkownik_aktywny} ? 'check' : 'close'"></span></td>
        </div>

        <div class="uk-margin">
            <label>Prawa użytkownika: </label>
            <td th:text="${profilszczegoly.uzytkownik_prawa}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Typ użytkownik: </label>
            <td th:text="${profilszczegoly.uzytkownik_typ}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>ID użytkownika: </label>
            <td th:text="${profilszczegoly.uzytkownik_id}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Użytkownik - Data utworzenia: </label>
<!--            <td th:text="${profilszczegoly.uzytkownik_data_tw}">...Brak danych...</td>-->
            <td th:text="${#calendars.format(profilszczegoly.uzytkownik_data_tw, 'dd-MM-yyyy HH:mm')}">...Brak danych...</td>
<!--            <td th:text="${#calendars.format(profilszczegoly.uzytkownik_data_tw, 'dd-MM-yyyy')}">...Brak danych...</td>-->
        </div>
        <div class="uk-margin">
            <label>Użytkownik - Data edycji: </label>
<!--            <td th:text="${profilszczegoly.uzytkownik_data_up}">...Brak danych...</td>-->
            <td th:text="${#calendars.format(profilszczegoly.uzytkownik_data_up, 'dd-MM-yyyy HH:mm')}">...Brak danych...</td>
        </div>
        <div class="uk-margin">
            <label>Użytkownik - Data skasowania: </label>
<!--            <td th:text="${profilszczegoly.uzytkownik_data_ucl}">...Brak danych...</td>-->
            <td th:text="${#calendars.format(profilszczegoly.uzytkownik_data_ucl, 'dd-MM-yyyy HH:mm')}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Użytkownik educja danych: </label>
            <td><span th:uk-icon="${profilszczegoly.dane_opcje} ? 'check' : 'close'"></span></td>
        </div>

        <div class="uk-margin">
            <label>Użytkownik - Uwagi: </label>
            <td th:text="${profilszczegoly.uzytkownik_uwagi}">...Brak danych...</td>
        </div>

        <input th:field="*{id}" type="number" hidden>

        <!--        <a th:href="@{opcje/profil}" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Zamknij"></a>-->
        <!--        <a th:href="@{opcje/profil/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash" uk-tooltip="Wyczyść"></a>-->
        <!--        <a th:href="@{opcje/profil/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit" uk-tooltip="Zapisz"></a>-->
        <a th:href="@{/opcje/opcjeprofil}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>
        <!--        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">-->

    </form>


    <div class="uk-padding"></div>
</div>

</body>
</html>
