<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">

    <h2 class="uk-heading-divider" th:text="#{profil.tytul}" style="position:center;"></h2>

    <a th:href="@{/profil/wstaw}" uk-icon="icon: copy"></a>
    <a th:href="@{/profil/czysc}" uk-icon="icon: trash"></a>
    <table class="uk-table uk-table-stripped">
        <thead>
        <tr>
            <th>iD</th>
            <th>Urzytkownik</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Data urodz.</th>
            <th>Jednostka wagi</th>
            <th>Jednostka długości</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td th:text="${element.urzytkownik}"></td>
            <td th:text="${element.imie}"></td>
            <td th:text="${element.nazwisko}"></td>
            <td th:text="${element.plec}"></td>
            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
            <td th:text="${element.waga}"></td>
            <td th:text="${element.miara}"></td>

            <td>
                <a th:href="@{/profil/edytuj/{id} (id=${element.id})}" uk-icon="icon: credit-card"></a>
                <a th:href="@{/profil/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash"></a>
            </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>
