<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{start.tytyl}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}" href="../static/ikona.ico"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
</head>
<body>

<div class="uk-card-default uk-card uk-card-body" style="width: 400px; margin: 300px auto">
    <!--    <img class="uk-align-center uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">-->
    <img class="uk-align-center uk-margin-remove-adjacent" th:src="@{/pliki/tlo.JPG}" width="300" height="140" alt="info">
    <!--    <form method="POST" class="form-signin" th:object="${startdodaj}" th:action="@{start/zapisz}">-->
    <p class="uk-text-center">Przepraszamy usługa tymczasowo wyłączona.</p>
    <div style="margin: 10px auto"></div>
    <!--        <a th:href="@{/}"><input class="uk-button uk-button-danger uk-width-1-1" type="button" value="Wyjdź"></a>-->
    <a th:href="@{/}"><input class="uk-button uk-button-secondary uk-width-1-1" type="button" value="Wyjdź"></a>
</div>

<!--<div class="uk-padding"></div>-->


</body>
</html>
