<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{start.tytyl}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}" href="../static/ikona.ico"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
</head>
<body>

<!--<div class="container uk-margin-large-top uk-align-center" style="max-width: 1200px; margin: 50px auto">-->
<div class="container uk-align-center" style="max-width: 1000px; margin: 50px auto">
    <div class="uk-padding"></div>

    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" th:src="@{/pliki/tlo.JPG}" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{rejestracja.tytyl}" style="position:center;"></h2>
    </div>
<!--    <form style="width:300px; margin: auto" th:object="${profildodaj}" th:action="@{/profilblad}" method="post">-->
    <form style="width:300px; margin: auto" th:object="${profildodaj}" th:action="@{/rejestracja/zapisz}" method="post">
        <div class="uk-margin">
            <label>Użytkownik</label>
            <input th:field="*{uzytkownik}" id="user_name" name="user_name" type="text"  class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Imię</label>
            <input th:field="*{imie}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Nazwisko</label>
            <input th:field="*{nazwisko}" type="text" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Email</label>
            <input th:field="*{email}" type="email" class="uk-input" required="required">
        </div>
        <div class="uk-margin">
            <label>Hasło</label>
            <input th:field="*{haslo}"  id="password" name="password" type="password" class="uk-input" required="required">
        </div>

<!--        <div class="uk-margin">-->
<!--            <label>Płeć </label><span uk-icon="icon: info" uk-tooltip="''k'-kobeta, 'm'-mężczyzna"></span>-->
<!--            <input th:field="*{plec}" type="text" class="uk-input" required="required">-->
<!--        </div>-->


                <div class="uk-button uk-form-controls uk-margin">
                    <label>Płeć</label>
                    <select th:field="*{plec}" type="text" class="uk-input">
                        <option value=""> -- </option>
                        <option th:value="'Kobieta'">Kobieta</option>
                        <option th:value="'Mężczyzna'">Mężczyzna</option>
                        <option th:value="'Dziecko'">Dziecko</option>
                    </select>
                </div>

        <div class="uk-margin">
            <label>Data urodzenia</label>
            <Input th:field="*{data}" type="date" class="uk-input" required="required">
        </div>

<!--        <div class="uk-margin">-->
<!--            <label>Jednostka wagi </label><span uk-icon="icon: info" uk-tooltip="'dkg', 'kg'"></span>-->
<!--            <input th:field="*{waga}" type="text" class="uk-input" required="required">-->
<!--        </div>-->

        <div class="uk-button uk-form-controls uk-margin">
            <label>Jednostka wagi</label>
            <select th:field="*{waga}" type="text" class="uk-input">
                <option value=""> -- </option>
                <option th:value="'dkg'">dkg</option>
                <option th:value="'Kg'">Kg</option>
            </select>
        </div>

<!--        <div class="uk-margin">-->
<!--            <label>Jednostka długości </label><span uk-icon="icon: info" uk-tooltip="'cm', 'm'"></span>-->
<!--            <input th:field="*{miara}" type="text" class="uk-input" required="required">-->
<!--        </div>-->

        <div class="uk-button uk-form-controls uk-margin">
            <label>Jednostka długości</label>
            <select th:field="*{miara}" type="text" class="uk-input">
                <option value=""> -- </option>
                <option th:value="'cm'">cm</option>
                <option th:value="'m'">m</option>
            </select>
        </div>

<!--        <div class="uk-margin">-->
<!--            <label>Wł/wył Użytkownika</label>-->
<!--            <input th:field="*{użytkownik_aktywny}" type="checkbox" class="uk-input" required="required">-->
<!--        </div>-->
<!--            <div class="uk-margin">-->
<!--                <div class="uk-form-label">Wł/Wył Użytkownika</div>-->
<!--                <div class="uk-form-controls uk-form-controls-text">-->
<!--                    <label><input class="uk-radio" type="radio" name="true" th:value="true" th:field="*{użytkownik_aktywny}">Użytkownik Wł.</label><br>-->
<!--                    <label><input class="uk-radio" type="radio" name="false" th:value="false" th:field="*{użytkownik_aktywny}">Użytkownik wył.</label>-->
<!--                </div>-->
<!--            </div>-->

<!--        <div class="uk-margin">-->
<!--            <label>Użytkownik prawa </label><span uk-icon="icon: info" uk-tooltip="'r', 'w', 'rw'"></span>-->
<!--            <input th:field="*{użytkownik_prawa}" type="text" class="uk-input" required="required">-->
<!--        </div>-->

<!--        <div class="uk-button uk-form-controls uk-margin">-->
<!--            <label>Użytkownik prawa</label>-->
<!--            <select th:field="*{użytkownik_prawa}" type="text" class="uk-input">-->
<!--                <option value=""> &#45;&#45; </option>-->
<!--                <option th:value="'Odczyt'">Odczyt</option>-->
<!--                <option th:value="'Odczyt-Zapis'">Odczyt-Zapis</option>-->
<!--                <option th:value="'Odczyt-Edycja-Zapis'">Odczyt-Edycja-Zapis</option>-->
<!--                <option th:value="'Admin'">Admin</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="uk-margin">-->
<!--            <label>Użytkownik ID</label>-->
<!--            <input th:field="*{użytkownik_id}" type="number" class="uk-input" step="1" min="1" max="100" required="required">-->
<!--        </div>-->

<!--        <div class="uk-button uk-form-controls uk-margin">-->
<!--            <label>Użytkownik ID </label><span uk-icon="icon: info" uk-tooltip="Wybor z dostępnych"></span>-->
<!--            <select th:field="*{użytkownik_id}" type="text" class="uk-input" required="required">-->
<!--                <option value=""> &#45;&#45; </option>-->
<!--                <option th:each="u_id : ${id}"th:value="${u.id}" th:utext="${u.id}"/>-->
<!--                <option th:value="'999'">999</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="uk-margin">-->
<!--            <label>Użytkownik - Data utworzenia </label>-->
<!--            <input th:field="*{użytkownik_data_tw}" type="date" class="uk-input">-->
<!--        </div>-->
<!--        <div class="uk-margin">-->
<!--            <label>Użytkownik - Data edycji</label>-->
<!--            <input th:field="*{użytkownik_data_up}" type="date" class="uk-input">-->
<!--        </div>-->
<!--        <div class="uk-margin">-->
<!--            <label>Użytkownik - Data skasowania</label>-->
<!--            <input th:field="*{użytkownik_data_ucl}" type="date" class="uk-input">-->
<!--        </div>-->

        <input th:field="*{id}" type="number" hidden>

<!--        <a th:href="@{opcje/profil}" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Anuluj"></a>-->
<!--        <a th:href="@{opcje/profil/wstaw}" class="uk-icon-link uk-margin-small-right" uk-icon="trash" uk-tooltip="Wyczyść"></a>-->
<!--        <a th:href="@{opcje/profil/zapisz}" class="uk-icon-link uk-margin-small-right" uk-icon="check" th:type="submit" uk-tooltip="Zapisz"></a>-->
        <a th:href="@{/}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

    </form>


    <div class="uk-padding"></div>
</div>

</body>
</html>
