<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{start.tytyl}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}" href="../static/ikona.ico"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
</head>

<body>

<div class="uk-card-default uk-card uk-card-body" style="width: 400px; margin: 300px auto">
    <!--    <img class="uk-align-center uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">-->
    <img class="uk-align-center uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">

    <form method="POST" class="form-signin" th:object="${startdodaj}" th:action="@{login}">
        <h2 class="uk-text-center uk-card-title" th:text="#{start.text1}"></h2>
<!--        <input th:field="*{uzytkownik}" type="text" placeholder="Użytkownik" class="uk-input" required="required"> <br/>-->
        <input id="uzytkownik" name="uzytkownik" type="text" placeholder="Użytkownik" class="uk-input" required="required"> <br/>
        <br/>
<!--        <input th:field="*{haslo}" type="password" th:placeholder="Hasło" class="uk-input"/> <br/>-->
        <input id="haslo" name="haslo" type="password" th:placeholder="Hasło" class="uk-input"/> <br/>
        <br/>
        <button class="uk-button uk-button-secondary uk-width-1-1" name="Submit" type="Submit" value="Login"
                th:text="#{start.enter}"></button>
    </form>

    <div style="margin: 20px auto">
        <a class="uk-align-left"  th:href="@{/rejestracja}" uk-icon="icon: user; ratio: 1.2" uk-tooltip="Dodaj konto"></a>
        <a class="uk-align-right" th:href="@{/przypomnijhaslo}" uk-icon="icon: search; ratio: 1.2" uk-tooltip="Przypomnij logowanie"></a>
    </div>
</div>


<!--<div class="uk-card-default uk-card uk-card-body" style="width: 400px; margin: 300px auto">-->
<!--    &lt;!&ndash;    <img class="uk-align-center uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">&ndash;&gt;-->
<!--    <img class="uk-align-center uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">-->

<!--    <form method="POST" class="form-signin" th:object="${startdodaj}" th:action="@{start/zapisz}">-->
<!--        <h2 class="uk-text-center uk-card-title" th:text="#{start.text1}"></h2>-->
<!--        <input th:field="*{uzytkownik}" type="text" placeholder="Użytkownik" class="uk-input" required="required"> <br/>-->
<!--        <br/>-->
<!--        <input th:field="*{haslo}" type="password" th:placeholder="Hasło" class="uk-input"/> <br/>-->
<!--        <br/>-->
<!--        <button class="uk-button uk-button-secondary uk-width-1-1" name="Submit" type="Submit" value="Login"-->
<!--                th:text="#{start.enter}"></button>-->
<!--    </form>-->

<!--    <div style="margin: 20px auto">-->
<!--        <a class="uk-align-left"  th:href="@{/rejestracja}" uk-icon="icon: user; ratio: 1.2" uk-tooltip="Dodaj konto"></a>-->
<!--        <a class="uk-align-right" th:href="@{/przypomnijhaslo}" uk-icon="icon: search; ratio: 1.2" uk-tooltip="Przypomnij logowanie"></a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="uk-card-default uk-card uk-card-body" style="width: 500px; margin: 300px auto">-->
<!--    <h2 class="uk-text-center uk-card-title" th:text="#{start.text1}"></h2>-->
<!--    <h2 class="uk-text-center uk-card-title" th:text="#{start.text2}"></h2>-->
<!--    <a th:href="@{index}" class="uk-button uk-button-secondary uk-width-1-1" th:text="#{start.enter}"></a>-->
<!--</div>-->

</body>
</html>
