<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{start.tytyl}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}" href="../static/ikona.ico"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" href="../static/css/uikit.min.css"/>
    <script th:src="@{/js/uikit.min.js}" src="../static/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.min.js}" src="../static/js/uikit-icons.min.js"></script>
</head>

<body>
<div class="uk-card-default uk-card uk-card-body" style="width: 400px; margin: 300px auto">



</div>

<!--<div class="uk-card-default uk-card uk-card-body" style="width: 500px; margin: 300px auto">-->
<!--    <h2 class="uk-text-center uk-card-title">Grzes</h2>-->
<!--    <h2 class="uk-text-center uk-card-title" th:text="#{start.text1}"></h2>-->
<!--    <a th:href="@{index}" class="uk-button uk-button-secondary uk-width-1-1" th:text="#{start.enter}"></a>-->
<!--</div>-->

</body>
</html>
