<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{temperatura.tytul}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{ikona.ico}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/uikit.min.css}" />
    <script th:src="@{js/uikit.min.js}"></script>
    <script th:src="@{js/uikit-icons.min.js}"></script>
</head>

</head>

<body>

<div class="uk-width-1-2@s uk-width-2-5@m" uk-stikcy>
    <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a th:href="@{start}">Start</a></li>
        <li><a th:href="@{/temperatura}">Temperatura</a></li>
        <li><a th:href="@{/wzrost}">Wzrost</a></li>
        <li><a th:href="@{/waga}">Waga</a></li>
        <li><a th:href="@{/cisnienie}">Cisnienie</a></li>
        <li><a th:href="@{/tentno}">Tentno</a></li>
        <li><a th:href="@{/leki}">Leki</a></li>
        <li><a th:href="@{/nawyki}">Nawyki</a></li>
        <li><a th:href="@{/profil}">Profil</a></li>
        <li><a th:href="@{/info}">Info</a></li>
    </ul>
</div>
<h1 class="uk-heading-divider" th:text="${tytul}"></h1>

<div class="uk-section">
<div class="uk-container uk-container-xsmall">
    <div style="max-width: 800px; margin: 50px auto">
        <canvas id="line-chart" width="1600" height="900"></canvas>
    </div>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->

<!--    <script th:inline="javascript">-->
<!--        new Chart(document.getElementById("line-chart"), {-->
<!--            type: 'line',-->
<!--            data: {-->
<!--                labels: [1,2,3,4,5,6,7,8,9,10,11],-->
<!--                datasets: [{-->
<!--                    data: [30,35,37,37,39,41,43,36,37,34],-->
<!--                    label: "Temperatura",-->
<!--                    borderColor: "#3e95cd",-->
<!--                    fill: false-->

<!--                },-->
<!--                ]-->
<!--            },-->
<!--            options: {-->
<!--                // scales:{-->
<!--                //     yAxes: "temperatura",-->
<!--                //     xAxes: "data",-->
<!--                // }-->

<!--            }-->
<!--        });-->

<!--    </script>-->

<!--    <table class="uk-position-center" border="1">-->
<!--        <tr>-->
<!--            <th width="5" height="20">Id</th>-->
<!--            <th width="50" height="20">Temperatura</th>-->
<!--            <th width="50" height="20">Data</th>-->
<!--            <th width="50" height="20">Rodzaj</th>-->
<!--            <th width="50" height="20">Uwagi</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>1</td>-->
<!--            <td>2</td>-->
<!--            <td>3</td>-->
<!--            <td>4</td>-->
<!--            <td>5</td>-->
<!--        </tr>-->
<!--        <tr th:each="temperatura : ${temperatura}"></tr>-->

<!--    </table>-->
</div>
</div>

</body>
</html>
