<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
        <h2 class="uk-heading-divider" th:text="#{temperatura.tytul}" style="position:center;"></h2>
    </div>
    <span uk-icon="icon: info" uk-tooltip="Info"></span>
    <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000">
        <div class="uk-card uk-card-body uk-card-default">
            <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość)
                uznaje się 36,6 °C.</p>
            <p>Należy pamiętać, że ciepłota ciała człowieka jest tak naprawdę kwestią indywidualną, zależną od wielu
                czynników, między innymi takich jak:</p>
            <ul class="uk-list uk-list-bullet">
                <li>prowadzony tryb życia,</li>
                <li>predyspozycje zdrowotne,</li>
                <li>temperatura otoczenia.</li>
            </ul>
        </div>
    </div>


    <!--    <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
    <!--    <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">      <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>-->
    <!--        <p>Należy pamiętać, że ciepłota ciała człowieka jest tak naprawdę kwestią indywidualną, zależną od wielu czynników, między innymi takich jak:</p>-->
    <!--        <ul class="uk-list uk-list-bullet">-->
    <!--            <li>prowadzony tryb życia,</li>-->
    <!--            <li>predyspozycje zdrowotne,</li>-->
    <!--            <li>temperatura otoczenia.</li>-->
    <!--        </ul></div>-->

    <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <!--            <button class="uk-modal-close-default" type="button" uk-close></button>-->
            <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość)
                uznaje się 36,6 °C.</p>
            <p>Należy pamiętać, że ciepłota ciała człowieka jest tak naprawdę kwestią indywidualną, zależną od wielu
                czynników, między innymi takich jak:</p>
            <ul class="uk-list uk-list-bullet">
                <li>prowadzony tryb życia,</li>
                <li>predyspozycje zdrowotne,</li>
                <li>temperatura otoczenia.</li>
            </ul>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container uk-container-xsmall">
            <div style="max-width: 800px; margin: 50px auto">
                <canvas id="line-chart" width="1600" height="900"></canvas>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            <script th:inline="javascript">
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [[${etykieta}]],
                        datasets: [{
                            data: [[${dane}]],
                            label: "Temperatura",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                        ]
                    },
                    options: {
                        // scales:{
                        //     yAxes: "temperatura",
                        //     xAxes: "data",
                        // }
                    }
                });

            </script>
        </div>
    </div>

    <a th:href="@{/temperatura/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
    <a th:href="@{/temperatura/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
        <thead>
        <tr>
            <th class="uk-table-shrink">Id</th>
            <!--            <th th:colspan="2"></th>-->
            <th>Wybór</th>
            <th>Temperatura</th>
            <th>Data</th>
            <th>Rodzaj</th>
            <th>Uwagi</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td th:text="${element.temp}"></td>

   <!-- <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>-->
            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm')}"></td>
            <!--            <td th:text="${element.data}"></td>-->

            <td><span th:uk-icon="${element.rodzaj} ? 'heart' : 'ban'"></span></td>
            <td th:text="${element.uwagi}"></td>
            <td>
                <a th:href="@{/temperatura/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit"uk-tooltip="Edytuj"></a>
                <a th:href="@{/temperatura/szczegoly/{id} (id=${element.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                <a th:href="@{/temperatura/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <
    <div class="col-sm-6">
        <div sd:pagination-summary="">info</div>
    </div>
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="uk-pagination uk-flex-center" sd:pagination="full">
                <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>
            </ul>
        </nav>
    </div>

    <div class="uk-padding"></div>

</div>

</body>
</html>
