<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{temperatura.tytul}" style="position:center;"></h2>
        <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000">
            <div class="uk-card uk-card-body uk-card-default">
                <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>
                <p>Należy pamiętać, że ciepłota ciała człowieka jest tak naprawdę kwestią indywidualną, zależną od wielu czynników, między innymi takich jak:</p>
                <ul class="uk-list uk-list-bullet">
                <li>prowadzony tryb życia,</li>
                <li>predyspozycje zdrowotne,</li>
                <li>temperatura otoczenia.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-section">
        <div class="uk-container uk-container-xsmall">
            <div style="max-width: 800px; margin: 50px auto">
                <canvas id="line-chart" width="1600" height="900"></canvas>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            <script th:inline="javascript">
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [1,2,3,4,5,6,7,8,9,10,11],
                        datasets: [{
                            data: [30,35,37,37,39,41,43,36,37,34],
                            label: "Temperatura",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                        ]
                    },
                    options: {
                        // scales:{
                        //     yAxes: "temperatura",
                        //     xAxes: "data",
                        // }
                    }
                });

            </script>
        </div>
    </div>

    <a th:href="@{/temperatura/wstaw}" uk-icon="icon: copy"></a>
    <a th:href="@{/temperatura/czysc}" uk-icon="icon: trash"></a>
    <table class="uk-table uk-table-stripped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Temperatura</th>
            <th>Data</th>
            <th>Rodzaj</th>
            <th>Uwagi</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td th:text="${element.temperatura}"></td>
            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
            <!--            <td th:text="${element.data}"></td>-->
            <td><span th:uk-icon="${element.rodzaj} ? 'heart' : 'ban'"></span></td>
            <td th:text="${element.uwagi}"></td>
            <td>
                <a th:href="@{/temperatura/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit"></a>
                <a th:href="@{/temperatura/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
