<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{tetno.tytul}" style="position:center;"></h2>
    </div>

    <span uk-icon="icon: info" uk-tooltip="Info"></span>
    <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000" >
        <div class="uk-card uk-card-body uk-card-default" >
           <p> Prawidłowe tętno (puls) mieści się w przedziale od 60 do 100 uderzeń serca na minutę.</p>
            <p>Za wysoki puls serca (powyżej 100 uderzeń na minutę) to tachykardia (częstoskurcz), za niski puls (poniżej 60 uderzeń na minutę) to bradykardia.</p>
            <p>Zarówno wysoki puls w spoczynku, jak i niski puls mogą świadczyć o chorobie – taki stan wymaga dalszej diagnostyki.</p>
        </div>
    </div>


<!--        <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
<!--        <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">      <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>-->
<!--            <p> Prawidłowe tętno (puls) mieści się w przedziale od 60 do 100 uderzeń serca na minutę.</p>-->
<!--            <p>Za wysoki puls serca (powyżej 100 uderzeń na minutę) to tachykardia (częstoskurcz), za niski puls (poniżej 60 uderzeń na minutę) to bradykardia.</p>-->
<!--            <p>Zarówno wysoki puls w spoczynku, jak i niski puls mogą świadczyć o chorobie – taki stan wymaga dalszej diagnostyki.</p>-->
<!--        </div>-->

    <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <!--            <button class="uk-modal-close-default" type="button" uk-close></button>-->
            <p> Prawidłowe tętno (puls) mieści się w przedziale od 60 do 100 uderzeń serca na minutę.</p>
            <p>Za wysoki puls serca (powyżej 100 uderzeń na minutę) to tachykardia (częstoskurcz), za niski puls (poniżej 60 uderzeń na minutę) to bradykardia.</p>
            <p>Zarówno wysoki puls w spoczynku, jak i niski puls mogą świadczyć o chorobie – taki stan wymaga dalszej diagnostyki.</p>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container uk-container-xsmall">
            <div style="max-width: 800px; margin: 50px auto">
                <canvas id="line-chart" width="1600" height="900"></canvas>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            <script th:inline="javascript">
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [1,2,3,4,5,6,7,8,9,10,11],
                        datasets: [{
                            data: [30,35,37,37,39,41,43,36,37,34],
                            label: "Tetno",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                        ]
                    },
                    options: {
                        // scales:{
                        //     yAxes: "temperatura",
                        //     xAxes: "data",
                        // }
                    }
                });

            </script>
        </div>
    </div>

    <a th:href="@{/tetno/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
    <a th:href="@{/tetno/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
        <thead>
        <tr>
            <th>Id</th>
            <!--            <th th:colspan="2"></th>-->
            <th>Wybór</th>
            <th>Tentno</th>
            <th>Data</th>
            <th>Rodzaj</th>
            <th>Uwagi</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${lista}">
            <td th:text="${element.id}"></td>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td th:text="${element.tetno}"></td>
            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
            <!--            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
            <!--            <td th:text="${element.data}"></td>-->
            <td><span th:uk-icon="${element.rodzaj} ? 'heart' : 'ban'"></span></td>
            <td th:text="${element.uwagi}"></td>
            <td>
                <a th:href="@{/tetno/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                <a th:href="@{/tetno/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="uk-padding"></div>
</div>
</body>
</html>
