<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{waga.tytul.szczegoly}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${wagaszczegoly}" th:action="@{/waga/zapisz}" method="post">
        <div class="uk-margin">
            <label>Waga: </label>
            <td th:text="${wagaszczegoly.waga_}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Data: </label>
            <td th:text="${#calendars.format(wagaszczegoly.data, 'dd-MM-yyyy')}"></td>
        </div>
        
        <div class="uk-margin">
            <label>Rodzaj: </label>
            <td> <span th:uk-icon="${wagaszczegoly.rodzaj} ? 'heart' : 'ban'"></span></td>
        </div>

        <div class="uk-margin">
            <label>Uwagi: </label>
            <td th:text="${wagaszczegoly.uwagi}"></td>
        </div>

        <div class="uk-margin">
            <label>Użytkownik ID: </label>
            <td th:text="${wagaszczegoly.uzytkownik_id}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Użytkownik prawa: </label>
            <td th:text="${wagaszczegoly.uzytkownik_prawa}">...Brak danych...</td>
        </div>

        <div class="uk-margin">
            <label>Zaznaczanie: </label>
            <td> <span th:uk-icon="${wagaszczegoly.dane_opcje} ? 'check' : 'close'"></span></td>
        </div>
        
        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/waga}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>

    </form>

    <div class="uk-padding"></div>
</div>

</body>
</html>
