<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
    <h2 class="uk-heading-divider" th:text="#{wzrost.tytul.szczegoly}" style="position:center;"></h2>
    </div>
    <form style="width:300px; margin: auto" th:object="${wzrostszczegoly}" th:action="@{/wzrost/zapisz}" method="post">
        <div class="uk-margin">
            <label>Wzrost: </label>
            <td th:text="${wzrostszczegoly.wzrost}"></td>
        </div>
        <div class="uk-margin">
            <label>Data: </label>
<!--            <td th:text="${wzrostszczegoly.data}"></td>-->
            <td th:text="${#calendars.format(wzrostszczegoly.data, 'dd-MM-yyyy')}"></td>
        </div>
        <div class="uk-margin">
            <label>Rodzaj: </label>
            <td> <span th:uk-icon="${wzrostszczegoly.rodzaj} ? 'heart' : 'ban'"></span></td>
        </div>

        <div class="uk-margin">
            <label>Uwagi: </label>
            <td th:text="${wzrostszczegoly.wzrost}"></td>
        </div>
        
        <input th:field="*{id}" type="number" hidden>

        <a th:href="@{/wzrost}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>
        
    </form>

    <div class="uk-padding"></div>
</div>

</body>
</html>
