<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{wzrost.tytul}" style="position:center;"></h2>
            </div>

            <span uk-icon="icon: info" uk-tooltip="Info"></span>
            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000">
                <div class="uk-card uk-card-body uk-card-default">
                    <p>Wzrost człowieka mierzony od czubka głowy do podeszwy stopy w pozycji wyprostowanej. Rano i wieczorem wzrost może się różnić o 2–3 cm.</p>
                    <p>Szacowanie średniego wzrostu ludzi jest trudne. Średni wzrost ludzi zmienia się na przestrzeni wieków / lat.
                        A także zależy od kontynętu.</p>
                    <p>Na tą chwilę można przyjąć:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>wzrost karłowaty - do 152,9 cm,</li>
                        <li>wzrost niski (153-162,9 cm),</li>
                        <li>wzrost średni (163-175,0 cm),</li>
                        <li>wzrost wysoki (175-184,9 cm),</li>
                        <li>wzrost bardzo wysoki (powyżej 178 cm).</li>
                    </ul>
                </div>
            </div>

            <!--        <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
            <!--        <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">      <p>Prawidłowa temperatura ciała człowieka waha się w zakresie od 36 – 37°C, za umowną (uśrednioną wartość) uznaje się 36,6 °C.</p>-->
            <!--    <p>Wzrost człowieka mierzony od czubka głowy do podeszwy stopy w pozycji wyprostowanej. Rano i wieczorem wzrost może się różnić o 2–3 cm.</p>-->
            <!--    <p>Szacowanie średniego wzrostu ludzi jest trudne. Średni wzrost ludzi zmienia się na przestrzeni wieków / lat.-->
            <!--        A także zależy od kontynętu.</p>-->
            <!--    <p>Na tą chwilę można przyjąć:</p>-->
            <!--    <ul class="uk-list uk-list-bullet">-->
            <!--        <li>wzrost karłowaty - do 152,9 cm,</li>-->
            <!--        <li>wzrost niski (153-162,9 cm),</li>-->
            <!--        <li>wzrost średni (163-175,0 cm),</li>-->
            <!--        <li>wzrost wysoki (175-184,9 cm),</li>-->
            <!--        <li>wzrost bardzo wysoki (powyżej 178 cm).</li>-->
            <!--</ul>-->
            <!--    </div>-->

            <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <!--            <button class="uk-modal-close-default" type="button" uk-close></button>-->
                    <p>Wzrost człowieka mierzony od czubka głowy do podeszwy stopy w pozycji wyprostowanej. Rano i wieczorem wzrost może się różnić o 2–3 cm.</p>
                    <p>Szacowanie średniego wzrostu ludzi jest trudne. Średni wzrost ludzi zmienia się na przestrzeni wieków / lat.
                        A także zależy od kontynętu.</p>
                    <p>Na tą chwilę można przyjąć:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>wzrost karłowaty - do 152,9 cm,</li>
                        <li>wzrost niski (153-162,9 cm),</li>
                        <li>wzrost średni (163-175,0 cm),</li>
                        <li>wzrost wysoki (175-184,9 cm),</li>
                        <li>wzrost bardzo wysoki (powyżej 178 cm).</li>
                    </ul>
                </div>
            </div>

            <div class="uk-section">
                <div class="uk-container uk-container-xsmall">
                    <div style="max-width: 800px; margin: 50px auto">
                        <canvas id="line-chart" width="1600" height="900"></canvas>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

                    <script th:inline="javascript">
                        new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: [[${etykieta}]],
                                datasets: [{
                                    data: [[${dane}]],
                                    label: "Wzrost",
                                    borderColor: "#3e95cd",
                                    fill: false
                                },
                                ]
                            },
                            options: {
                                // scales:{
                                //     yAxes: "temperatura",
                                //     xAxes: "data",
                                // }
                            }
                        });

                    </script>
                </div>
            </div>

            <a th:href="@{/wzrost/wstaw}" uk-icon="icon: file-edit" uk-tooltip="Dodaj"></a>
            <a th:href="@{/wzrost/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th>Id</th>
        <!--            <th>Id <a sd:pagination-sort="id" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <!--            <th th:colspan="2"></th>-->
                    <th>Wybór</th>
        <!--            <th>Wybór <a sd:pagination-sort="wybor" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Wzrost</th>
        <!--            <th>Wzrost <a sd:pagination-sort="wzrost" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Data</th>
        <!--            <th>Data <a sd:pagination-sort="data" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Rodzaj</th>
        <!--            <th>Rodzaj <a sd:pagination-sort="rodzaj" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Uwagi</th>
        <!--            <th>Uwagi <a sd:pagination-sort="uwagi" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${lista}">
                    <td th:text="${element.id}"></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <td th:text="${element.wzrostt}"></td>
                    <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy')}"></td>
                    <!--            <td th:text="${#calendars.format(element.data, 'dd-MM-yyyy HH:mm:ss')}"></td>-->
                    <!--            <td th:text="${element.data}"></td>-->
                    <td><span th:uk-icon="${element.rodzaj} ? 'heart' : 'ban'"></span></td>
                    <td th:text="${element.uwagi}"></td>
                    <td>
                        <a th:href="@{/wzrost/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <a th:href="@{/wzrost/szczegoly/{id} (id=${element.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/wzrost/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--            <div class="col-sm-6">-->
            <!--                <div sd:pagination-summary="">info</div>-->
            <!--            </div>-->
            <!--            <div class="col-sm-6">-->
            <!--                <nav class="pull-right">-->
            <!--                    <ul class="uk-pagination uk-flex-center" sd:pagination="full">-->
            <!--                        <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
            <!--                        <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>-->
            <!--                    </ul>-->
            <!--                </nav>-->
            <!--            </div>-->

            <div class="uk-padding"></div>
    </div>

</body>
</html>
